@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
 * {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
	 max-width: 100vw;;
}
 body {
	 align-items: center;
	 background: white ;
	 color: rgba(0, 0, 0, .8);
	 display: grid;
	 font-family: 'Montserrat', sans-serif;
	 font-size: 14px;
	 font-weight: 400;
	 height: 100vh;
	 justify-items: center;
	 background: rgba(0,0,0,0.7) url('../img/upload_book.jpg');
	 background-size: cover;
  background-blend-mode: darken;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.description-box {
    max-width: 900px;
    min-width: 420px;
    min-height: 100px;
}


 .signup-container {
	 display: grid;
	 grid-template-areas: "left right";
	 max-width: 900px;
}
 .left-container {
     background-image: url("https://cdn.pixabay.com/photo/2016/03/09/09/14/books-1245690_1280.jpg");
	 /* background: #807182; */
	 overflow: hidden;
	 padding: 40px 0 0 0;
	 position: relative;
	 text-align: center;
	 width: 300px;
}
 .left-container h1 {
	 color: rgba(0, 0, 0, .8);
	 display: inline-block;
	 font-size: 24px;
}
 .left-container h1 i {
	 background: #f7b1ab;
	 border-radius: 50%;
	 color: #807182;
	 font-size: 24px;
	 margin-right: 5px;
	 padding: 10px;
	 transform: rotate(-45deg);
}
 .left-container .puppy {
	 bottom: -5px;
	 position: absolute;
	 text-align: center;
}
 .left-container .puppy:before {
	 background: #807182;
	 content: "";
	 height: 100%;
	 left: 0;
	 opacity: 0.4;
	 position: absolute;
	 width: 100%;
	 z-index: 1;
}
 .left-container img {
	 filter: sepia(100%);
	 width: 70%;
}
 .right-container {
	 background: #e4bb8a;
	 display: grid;
	 grid-template-areas: "." ".";
	 width: 500px;
}
 .right-container h1:nth-of-type(1) {
	 color: rgba(0, 0, 0, .8);
	 font-size: 28px;
	 font-weight: 600;
}
 .right-container .set {
	 display: flex;
	 justify-content: space-between;
	 margin: 10px 0;
}
 .right-container input {
	 border: 1px solid rgba(0, 0, 0, .1);
	 border-radius: 4px;
	 height: 38px;
	 line-height: 38px;
	 padding-left: 5px;
}
 .right-container input, .right-container label {
	 color: rgba(0, 0, 0, .8);
}
 .right-container header {
	 padding: 40px;
	 background-color: #e4bb8a;
}
 .right-container label, .right-container input, .right-container .books-photo {
	 width: 176px;
}
 .right-container .books-photo {
	align-items: center;
    display: flex;
    flex-direction: column;
    /* display: grid; */
    grid-template-areas: ". ."
}
 .right-container .books-photo button {
	 border: none;
	 border-radius:8px;
	 height: 38px;
	 margin-right: 10px;
	 outline: none;
	 width: 182px;
}
 .right-container .books-photo button i {
	 color: rgba(0, 0, 0, .8);
	 font-size: 16px;
}
 .right-container .books-weight .radio-container {
	 display: flex;
	 justify-content: space-between;
	 width: 100%;
}
 .right-container footer {
	 align-items: center;
	 background: #fff;
	 display: grid;
	 padding: 5px 40px;
}
 .right-container footer button {
	 border: 1px solid rgba(0, 0, 0, .2);
	 height: 38px;
	 line-height: 38px;
	 width: 100px;
	 border-radius: 19px;
	 font-family: 'Montserrat', sans-serif;
	 cursor: pointer;
}
 .right-container footer #back {
	background: #807182;
	 border: 1px solid transparent;
	 color: #fff;
}
 .right-container footer #back:hover {
	background: red;
}
 .right-container footer #next {
	 background: #807182;
	 border: 1px solid transparent;
	 color: #fff;
}
 .right-container footer #next:hover {
	 background: blue;
}
 .books-name label, .books-breed label, .books-birthday label, .books-gender label, .books-spayed-neutered label, .books-weight label {
	 display: block;
	 margin-bottom: 5px;
}
 .radio-container {
	 background: #fff;
	 border: 1px solid rgba(0, 0, 0, .1);
	 border-radius: 4px;
	 display: inline-block;
	 padding: 5px;
}
 .radio-container label {
	 background: transparent;
	 border: 1px solid transparent;
	 border-radius: 2px;
	 display: inline-block;
	 height: 26px;
	 line-height: 26px;
	 margin: 0;
	 padding: 0;
	 text-align: center;
	 transition: 0.2s all ease-in-out;
	 width: 80px;
}
 .radio-container input[type="radio"] {
	 display: none;
}
 .radio-container input[type="radio"]:checked + label {
	 background: #f7b1ab;
	 border: 1px solid rgba(0, 0, 0, .1);
}
 