.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    height: 38rem;
    text-align: center;
    background-image: url(payment.jpg);
    background-size: cover;
    background-blend-mode: darken;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
 
  .button {
    margin-top: 6%;
    max-width: 70%;
    margin-left: 13%;
    padding: 15px 25px;
    /* display: inline-block; */
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }



  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .container
  {
      display: flex;
  }